#root {
    /*-view-font-family: "Futura Bk BT";*/
}

#bottomPane, #leftPane, #rightPane {
    -fx-background-color: #eeeeee;
    -fx-border-color: #ddd;
    -fx-border-width: 1px 1px 0px 1px;
}

#leftPane, #rightPane {
    -fx-border-width: 0px 1px 0px 1px;
}

/**
    Chart lines
    TODO: duplicatie verwijderen
 */
.series-adhoc {
    -fx-fill: #D1345B;
}

.series-parkingpass {
    -fx-fill: #33A4EA;
}

.series-reservation {
    -fx-fill: #008000;
}

