#root {
    /*-fx-font-family: "Futura Bk BT";*/
}

#bottomPane, #leftPane, #rightPane {
    -fx-background-color: #eeeeee;
    -fx-border-color: #ddd;
    -fx-border-width: 1px 1px 0px 1px;
}

#leftPane, #rightPane {
    -fx-border-width: 0px 1px 0px 1px;
}

#settings TextField {
    -fx-max-width: 50px;
}